/* 
	Custom Fluid & Responsive Grid System
	Structure :Mobile-first(min-width);
	Syntax:SCSS;
	Grid:Flexbox-based;
	Created By:Sample;
	Date:11/28/2018;
 */
.container-12 {
  background: #aaa;
  font-size: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

header {
  background: #429032; }

nav {
  background: #2963BD; }

section {
  background: #c90; }

footer {
  background: #c03; }

header, footer {
  min-height: 150px; }

section {
  min-height: 440px; }
  section p {
    margin-bottom: 0;
    padding-bottom: 20px; }

nav p {
  margin-bottom: 0;
  padding-bottom: 20px; }

@media (min-width: 40em) {
  nav {
    height: 440px; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1.67%;
  margin: auto; }

.flex-container {
  margin-bottom: 10px; }
  .flex-container:last-of-type {
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .flex-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

nav {
  width: 100%; }
  @media (min-width: 40em) {
    nav {
      width: 33%;
      margin-right: 1.67%; } }

section {
  width: 100%; }
  @media (min-width: 40em) {
    section {
      width: 65.33%; } }

[class*="level-"] {
  width: 100%;
  background: #000;
  color: #fff;
  border: #fff 1px solid; }
  @media (min-width: 40em) {
    [class*="level-"] {
      margin: 0 .83%; } }

@media (min-width: 40em) {
  .contetn-a {
    width: 30%; }
  .contetn-c {
    width: 42%; } }
