//Globals
*, *:before, *:after{
box-sizing: border-box;
}
//Container
.container_12 {
	width: 980px;
	padding:0 10px;
	margin: auto;
}
//Grid >> Global
.grid {
	&_1,&_2,&_3,&_4,&_5,&_6,&_7,&_8,&_9,&_10,&_11,&_12{
		float:left;
		margin: 0 10px;
	}
}

//Grid >> 12 Columns
.container_12 {
	.grid_1 {width:60px;}
	.grid_2 {width:140px;}
	.grid_3 {width:220px;}
	.grid_4 {width:300px;}
	.grid_5 {width:380px;}
	.grid_6 {width:460px;}
	.grid_7 {width:540px;}
	.grid_8 {width:620px;}
	.grid_9 {width:700px;}
	.grid_10 {width:780px;}
	.grid_11 {width:860px;}
	.grid_12 {width:940px;}
}

//Clear Floated Elements
.clear, .row {
	&:before,
	&:after  {  content:"";display: table;	}
	&:after  {  clear: both; }
}

//Use rows to nest containers
.row {  margin-bottom: 10px;
    &:last-of-type {  margin-bottom: 0; }
}