/*
  Custom Fluid & Responsive Grid System
  Structure: Mobile-first (min-width)
  Syntax: SCSS
  Grid: Float-based
  Created by: Your Name
  Date: MM/DD/YY 
*/
*, *:before, *:after {
  box-sizing: border-box;
}

//Moble-first Media Queries Mixin
@mixin forLargeScreens($media) {
	@media (min-width: $media/16+em) { @content }
}

//Main Container
.container-12 {
  width: 100%;
  //Change this value to ANYTHING you want, no need to edit anything else. 
  max-width: 980px; 
  padding: 0 1.67%;
  margin: auto;
}
//Grid
.grid {
  //Global Properties - Mobile-first
  &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
    width: 100%;
  }
  @include forLargeScreens(640) { //Totally arbitrary width, it's only a starting point.
    //Global Properties - Large screens
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      float: left;      
      margin: 0 .83%;  
    }
    //Grid 12 Columns    
    &-1  { width:6.67%; }
    &-2  { width:15%; }
    &-3  { width:23.33%; }
    &-4  { width:31.67%; }
    &-5  { width:40%; }
    &-6  { width:48.33%; }
    &-7  { width:56.67%; }
    &-8  { width:65%; }
    &-9  { width:73.33%; }
    &-10 { width:81.67%; }
    &-11 { width:90%; }
    &-12 { width:98.33%; }
  }
}


//Clear Floated Elements - http://davidwalsh.name/css-clear-fix
.clear, .row {
  &:before,
  &:after { content: ''; display: table; }
  &:after { clear: both; }
}

//Use rows to nest containers
.row { width: 100%; margin-bottom: 10px;
  &:last-of-type { margin-bottom: 0; }
}

//Legacy IE
.clear { zoom: 1; }

//==================


//Basic styling not needed for demo
.container-12 { background: #fff; font-size: 30px; text-shadow:0 1px 1px rgba(black,.5); position: relative; overflow: hidden;
  //Add labels for 'Wide' and 'Small' for easier troubleshooting
 /* &:before { display: block; padding: 3px 12px; content: 'Small'; background: #000; position: absolute; top: 2px; left: 2px; z-index: 1; font-size: 18px;
    @include forLargeScreens(640) {
      content: 'Wide';
    }
  }*/
}
header { background: #429032; }
nav { background: #2963BD; }
section { background: #c90; }
footer { background: #c03; }
article { background: rgba(,.3); }
.row > div { padding: 10px 0; background: #222; font-size: 20px; }

//Give heights to elements for better perception of sections
header, footer { min-height: 150px; }
section { min-height: 440px;
  p { margin-bottom: 0; padding-bottom: 20px; }
}
nav p { margin-bottom: 0; padding-bottom: 20px; }
nav {
  @include forLargeScreens(640) {
    height: 440px;
  }
}
header, footer { display: flex; justify-content: center; align-items: center;
  @include forLargeScreens(640) {
    display: block;
  }
}

body { margin: 0; padding: 20px; }