@font-face {
  font-family: icon-font;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9988/icon-font.woff") format("woff"); }

[class^='icon-'], [class*=' icon-'] {
  font-family: icon-font;
  font-weight: 100;
  font-style: italic;
  font-variant: normal;
  text-decoration: none;
  line-height: 1;
  speak: none; }

.icon-headphones {
  font-size: 40px;
  font-weight: 600;
  padding: 5px;
  color: #2963BD;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .icon-headphones:before {
    content: '\e601';
    margin-right: 10px; }
  .icon-headphones:hover {
    color: #6d9adf; }
  .icon-headphones:focus {
    outline: 2px solid orange; }

@font-face {
  font-family: icon-fonts;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9988/icon-fonts.woff") format("woff"); }

[class^="icons-"], [class*=" icons-"] {
  font-family: 'icon-fonts';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^="icons-"] span, [class*=" icons-"] span {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -999%;
    overflow: hidden; }

.icons-thumbs-up:before {
  content: "\e600"; }

.icons-twitter:before {
  content: "\e601"; }

.icons-leaf:before {
  content: "\e602"; }

.icons-fire:before {
  content: "\e603"; }

.icons-facebook:before {
  content: "\e604"; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  ul li {
    margin-right: 1%; }
    ul li a:not([href*="code"]) {
      text-decoration: none;
      border-radius: 10px;
      padding: 15px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0);
      box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0); }
      ul li a:not([href*="code"]):hover {
        color: skyblue;
        background: rgba(255, 255, 255, 0.05);
        -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1); }

html {
  background: #999; }
